body{
  background-color: #B084BA;
}
.fondo2{
  background-color: #B084BA;
}

.colorBoton{
background-color: #AAB6DE;
}

.BotonCrearCuenta{
  background-color: #52a1da;
}

.imgInicio{
  background-color: transparent !important;/* Fondo de la imagen transparente */
  border: none; /* sin bordes */
}

.ColorEncabezado{
  background-color: #8364A0;
}

.ColorFooter{
  background-color: #8364A0;
}

/* ------------vistas del navegador cuando ya inicias sesion --------*/

nav .estiloIcon {
  font-size: 14px; /* Tamaño del texto */
  color: white; /* Color del texto */
 
}

nav .estiloIcon i {
  font-size: 24px; /* Tamaño de los íconos */
}

/* Efecto hover */
nav .estiloIcon hover {
  color: #00A6ED; /* Cambia el color cuando se pasa el mouse */
  
}

/*----------------para el perfil--------------------*/
/* Add this in your static CSS file */
.profile-container {
  width: 80%;
  margin: auto;
}

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.profile-info {
  font-size: 18px;
}

.posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.post img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}