{% load static %}
<head>
    
    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>


<!-- encabezado.html -->
<header class="ColorEncabezado text-white p-3">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <!-- Logotipo o nombre del sitio -->
        <a href="{% url 'index' %}" class="navbar-brand text-white">
            <img src="https://firebasestorage.googleapis.com/v0/b/pruebag-d346f.appspot.com/o/logo.png?alt=media&token=8e5c1566-8365-4ef3-a4c7-8cc2f6f0f77b" alt="Logo" style="height: 60px;">
            K-Media
        </a>

        <!-- Bienvenida y botón de cierre de sesión -->
        {% if user.is_authenticated %}
        <div class="d-flex align-items-center">
            <span class="me-3">Bienvenida, {{ user.username }}!</span>
        </div>
    
        <!-- Navegación -->
        <nav class=" nav  justify-content-end">
            <a href="{% url 'home' %}" class="nav-link estiloIcon text-center ">
                <i class="bi bi-house-door"></i><br />Home
            </a>
            <a href="{% url 'buscar' %}" class="nav-link estiloIcon text-center">
                <i class="bi bi-search"></i><br />Search
            </a>
            <a href="{% url 'addPublicacion' %}" class="nav-link estiloIcon text-center">
                <i class="bi bi-plus-square"></i><br />Add
            </a>
            <a href="{% url 'perfil' %}" class="nav-link estiloIcon text-center">
                <i class="bi bi-person"></i><br />Profile
            </a>
            <a href="{% url 'cerrarsesion' %}" class="nav-link estiloIcon text-center">
                <i class="bi bi-box-arrow-right"></i><br />Logout
            </a>

        </nav>
        {% endif %}
    </div>

</header>