{% load static %}
<!-- footer.html -->
<footer class="ColorFooter text-white p-3 mt-auto">
    <div class="container-fluid d-flex justify-content-between">
      <p>&copy; 2024 Army k-Media. Todos los derechos reservados.</p>
      <nav>
        <ul class="navbar-nav d-flex flex-row">
          <li class="nav-item me-3">
            <a href="{% url 'privacidad' %}" class="text-white">Política de Privacidad</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'terminos' %}" class="text-white">Términos de Servicio</a>
          </li>
        </ul>
      </nav>
    </div>
  </footer>
  