{% extends "index.html" %}

<head>
  <!-- Agregar Bootstrap CSS -->
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  />

  <!-- Bootstrap Icons -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
    rel="stylesheet"
  />

  {% block "titulo" %}
  <title>Inicio</title>

  {% endblock "titulo" %}
  
</head>

{% block "content" %}
<p>Este es el home</p>

<a href="/publicacion/crear/">Nueva Publicación</a>

<h2>Publicaciones Recientes</h2>

<div class="posts-grid">
  {% for post in posts %}
  
  <div class="post-card">
    <div class="post-header">
        <p>Publicado por: {{ post.user.username }}</p>
        <em>{{ post.created|date:"d M Y H:i" }}</em>
    </div>

    <!-- Imagen de la publicación -->
    {% if post.imagen %}
        <img src="{{ post.imagen.url }}" alt="Imagen de {{ post.titulo }}" class="post-image">
    {% endif %}
    
    <!-- Sección de acciones (Me gusta, Comentar, Guardar) -->
    <div class="post-actions">
        <i id="like-icon-{{ post.id }}" class="bi bi-heart"></i> <!-- Me gusta -->
        <i class="bi bi-chat"></i> <!-- Comentar -->
        <i class="bi bi-send"></i> <!-- Enviar -->
        <i id="save-icon-{{ post.id }}" class="bi bi-bookmark"></i> <!-- Guardar -->
    </div>

        <!-- Resto del contenido de la publicación -->
        <div class="post-content">
          <h2>{{ post.titulo }}</h2>
          <p>{{ post.descripcion }}</p>
      </div>

      <!-- Botones de editar y eliminar (solo para el propietario de la publicación) -->
    {% if post.user == request.user %}
    <div class="post-actions-buttons">
      <a href="{% url 'editarPublicacion' post.id %}" class="btn btn-warning">Editar</a>
      <a href="{% url 'eliminarPublicacion' post.id %}" class="btn btn-danger">Eliminar</a>
    </div>
    {% endif %}
      

</div>
  {% endfor %}
</div>

<!-- Scripts para funcionalidad de me gusta y guardar -->
<script>
    document.querySelectorAll('[id^=like-icon]').forEach(icon => {
        icon.addEventListener('click', () => {
            icon.classList.toggle('bi-heart-fill'); // Cambiar a corazón lleno
            icon.classList.toggle('bi-heart'); // Cambiar a corazón vacío
            icon.style.color = icon.classList.contains('bi-heart-fill') ? 'red' : 'black'; // Cambiar color
        });
    });

    document.querySelectorAll('[id^=save-icon]').forEach(icon => {
        icon.addEventListener('click', () => {
            icon.classList.toggle('bi-bookmark-fill'); // Cambiar a marcador lleno
            icon.classList.toggle('bi-bookmark'); // Cambiar a marcador vacío
            icon.style.color = icon.classList.contains('bi-bookmark-fill') ? '#8364A0' : 'black'; // Cambiar color
        });
    });
</script>
{% endblock "content" %}
