<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% block "titulo" %}
    <title>Inicio</title>
    {% endblock "titulo" %}
  </head>
  <body>
    <header>
      <h1>Agregar una cabecera para el proyecto de red social</h1>
    </header>

    {% block "content" %}
    <p>Hola como estas</p>
    {% endblock "content" %}
    <footer>
      <p>Agregar aquí un footer para la red social</p>
    </footer>
  </body>
</html>
