{% extends "index.html" %} {% load static %}
<head>
  <link rel="stylesheet" href="{% static 'styles.css' %}" />
  <!-- Diseño para Inicio de Sesion-->
  {% block "titulo" %}
  <title>{{ user.username }}'s Perfil</title>
  {% endblock "titulo" %}
</head>

{% block "content" %} {{error}}

<body>
  <!-- Sección superior del perfil -->
  <div class="profile-header">
    <!-- Imagen de perfil -->

    <div class="profile-image">
      {% if perfil.foto_perfil %}
        <img src="{{ perfil.foto_perfil.url }}" alt="Imagen de perfil" />
      {% else %}
        <img src="{% static 'default_profile_image.jpg' %}" alt="Imagen de perfil predeterminada" />
      {% endif %}
    </div>

    <!-- Información del usuario -->
    <div class="profile-info">
      <h2>{{ user.username }}</h2>
       <!-- Botón de editar perfil (Solo se muestra si es el perfil del usuario autenticado) -->
      {% if user == perfil.nombre %}
      <a href="{% url 'editar_perfil' %}" class="btn btn-outline-light editar-perfil-btn">Editar perfil</a>
      {% endif %}
      
      <div class="profile-stats">
        <span><strong>{{ num_publicaciones }}</strong> publicaciones</span>
        <span><strong>{{ num_seguidores }}</strong> seguidores</span>
        <span><strong>{{ num_seguidos }}</strong> seguidos</span>
      </div>
      

      <!-- Descripción o biografía -->
    <div class="profile-description">
      <p>{{ perfil.biografia }}</p>
    </div>
    </div>

  </div>

  <!-- Barra de navegación (Publicaciones, Guardado, Etiquetas) -->
  <div class="profile-nav">
    <button class="active">Publicaciones</button>
    <button>Guardado</button>
    <button>Etiquetas</button>
  </div>

  <!-- Sección de publicaciones en cuadrícula -->
  <div class="profile-posts-grid">
    {% if posts %}
      {% for post in posts %}

        <div class="post-item">
          <img src="{{ post.imagen.url }}" alt="Publicación" />
        </div>
        
      {% endfor %}
    {% else %}
      <p>Este usuario no tiene publicaciones.</p>
    {% endif %}
  </div>

</body>
{% endblock "content" %}